<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exames App</title>
</head>
<body>
    <form action="#" th:action="@{/exames}" method=get th:object="${exame}">
		<label for="nome">Nome</label>
    	<input type="text" name="nome" th:field="*{old.nome}" required>
    	<label for="paciente">Paciente</label>
    	<input type="text" name="paciente" th:field="*{old.paciente}" required>
    	<label for="data">Data</label>
    	<input type="date" name="date" pattern="\d{4}-\d{2}-\d{2}" th:field="*{old.data}" required>
    	<label for="resultado">Resultado</label>
    	<input type="text" name="resultado" th:field="*{old.resultado}">
    	<button type="submit">Voltar</button>
    </form>
</body>
</html>